@font-face {
  font-family: 'Montserrat medium' 'sans-serif';
  src: url(Fonts/Montserrat-Medium.ttf) format('truetype');
}
@font-face {
font-family: '';
src: url() format('truetype');
}
@font-face {
font-family: ;
src: url() format('truetype');
}

html, body {
 font-size: 81.25%;
 margin: 0;
 padding: 0;
 background-color:
}

.header {
  background-color: #3a414c;
  height: 90px;
  border-bottom: 0.5px solid white;
}
.logo {
  margin-left: 100px;
  width: 90px;
  height: 90px;
}
.logo-name {
  font-family: 'Montserrat medium' 'sans-serif';
  color: white;
  font-size: 2em;
  letter-spacing: 0.35em;
  margin-left: 25px;
}
.header-container {
  padding: 0;
}

